.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-message {
  align-items: left;
}

table{
  width:800px;
  text-align:left;
  border-collapse:collapse;
}

.even{
  background:#c0c0c0;
}

.odd{
  background:#a6caf0;
}

.firsttr{
 background:#ffff00;
 border:2px solid #000080;
}

.messageCol {  
  align-items: start;
  width: 400px;
}

